<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chomsky Table</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href=" https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css " rel="stylesheet">
</head>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <div class="navbar bg-primary text-white">
        <div class="flex-1">
            <a class="btn btn-ghost text-2xl font-bold">Chomsky Table</a>
        </div>
        <div class="flex-none">
            <button class="btn btn-circle btn-primary btn-lg text-4xl">
                <a class="mdi mdi-github text-white" href="https://github.com/iAliF/Chomsky-Table" target="_blank"></a>
            </button>
        </div>
    </div>

    <div class="md: mx-10 lg:mx-60 mt-5">
        <textarea v-model="grammarInput"
                  :class="{'textarea-error': !isGrammarValid}"
                  class="w-full textarea textarea-bordered textarea-lg"
                  placeholder="Grammar (S => A | B | C)"
                  rows="5"
                  @input="validateGrammar"></textarea>

        <div class="flex gap-2 mt-2">
            <input v-model="sentence"
                   :class="{'input-error': !isSentenceValid}"
                   class="input input-bordered input-md flex-grow"
                   placeholder="Sentence"
                   type="text"
                   @input="validateSentence">

            <button
                    :class="{'btn-disabled': !(isGrammarValid && isSentenceValid)}"
                    class="btn btn-primary text-white"
                    @click="calculate">
                Calculate
            </button>
        </div>

        <div v-if="done" class="mt-4">
            <table class="table table-zebra table-md">
                <tr v-for="(row, i) in table" :key="'row-' + i">
                    <td v-for="(cell, j) in row" :key="'cell-' + j"
                        :class="{'bg-yellow-300': cell.includes('S')}">
                        {{ i <= j ? (cell.length > 0 ? cell.sort().join(", ") : "∅") : "" }}
                    </td>
                </tr>
            </table>

            <div class="mt-2">
                <div v-if="isValid" class="alert alert-success">
                    <span>The sentence belongs to the language defined by the grammar.</span>
                </div>
                <div v-else class="alert alert-error">
                    <span>The sentence does not belong to the language defined by the grammar.</span>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    const {createApp} = Vue;

    createApp({
        data() {
            return {
                grammar: {},
                grammarInput: "",
                sentence: "",
                table: [],
                done: false,
                isValid: false,
                isGrammarValid: true,
                isSentenceValid: true,
            };
        },
        methods: {
            calculate() {
                this.done = false;
                this.parseInput();

                const n = this.sentence.length;
                let table = Array.from(
                    {length: n},
                    () => Array.from({length: n}, () => [])
                );

                // i = j
                for (let i = 0; i < n; i++) {
                    let word = this.sentence[i];

                    for (let name in this.grammar) {
                        this.grammar[name].forEach(
                            value => {
                                if (value === word && !table[i][i].includes(name))
                                    table[i][i].push(name);
                            }
                        );
                    }
                }

                for (let i = 1; i < n; i++) {
                    let x = 0;

                    for (let j = i; j < n; j++) {
                        let b = x + 1;

                        for (let a = x; a < j; a++) {
                            let combs = table[x][a].flatMap(d => table[b][j].flatMap(v => d + v));

                            // Check all combinations
                            combs.forEach(comb => {
                                for (let gKey in this.grammar) {
                                    this.grammar[gKey].forEach(gValue => {
                                        if (gValue === comb && !table[x][j].includes(gKey)) {
                                            table[x][j].push(gKey);
                                        }
                                    })
                                }
                            })

                            b++;
                        }

                        x++;
                    }

                }

                this.table = table;
                this.isValid = table[0][n - 1].includes("S"); // True if table[1][n] includes 'S'
                this.done = true;
            },
            parseInput() {
                const grammar = {};
                const lines = this.grammarInput.trim().split("\n");

                lines.forEach(line => {
                    const [key, values] = line.split("=>").map(part => part.trim());
                    grammar[key] = values.split("|").map(value => value.trim());
                });

                this.grammar = grammar;
            },
            validateGrammar() {
                this.isGrammarValid = true;
                const lines = this.grammarInput.trim().split("\n");
                const checkPattern = /^[A-Z]\s*=>\s*([\w| ]+)$/;

                for (const line of lines) {
                    if (!checkPattern.test(line.trim())) {
                        this.isGrammarValid = false;
                        break;
                    }
                }
            },
            validateSentence() {
                this.isSentenceValid = /^[a-z0-9]*$/.test(this.sentence);
            },
        },
    }).mount("#app");
</script>
</body>
</html>
