<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chomsky Table</title>

    <style>
        table {
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        td, th {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }
    </style>
</head>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <h1>Grammar:</h1>
    <p v-for="(value, key) in grammar" :key="key">
        {{ key }} → {{ value.join(" | ") }}
    </p>

    <h1>Sentence:</h1>
    <input v-model="sentence" type="text">
    <button @click="calculate">Calculate</button>

    <table v-if="done">
        <tr v-for="(row, rowIndex) in table" :key="'row-' + rowIndex">
            <td v-for="(cell, columnIndex) in row" :key="'cell-' + columnIndex">
                {{ cell.length > 0 ? cell.sort().join(", ") : "∅" }}
            </td>
        </tr>
    </table>
</div>

<script>
    const {createApp} = Vue;

    createApp({
        data() {
            return {
                grammar: {
                    S: ["AS", "SS", "a"],
                    A: ["a", "b", "BA", "BB"],
                    B: ["b", "CD"],
                    C: ["c", "SA"],
                    D: ["d"],
                },
                sentence: "aabcda",
                table: [],
                done: false,
            };
        },
        methods: {
            calculate() {
                this.done = false;

                const n = this.sentence.length;
                let table = Array.from(
                    {length: n},
                    () => Array.from({length: n}, () => [])
                );

                // i = j
                for (let i = 0; i < n; i++) {
                    let word = this.sentence[i];

                    for (let name in this.grammar) {
                        this.grammar[name].forEach(
                            value => {
                                if (value === word && !table[i][i].includes(name))
                                    table[i][i].push(name);
                            }
                        );
                    }
                }

                for (let i = 1; i < n; i++) {
                    let x = 0;

                    for (let j = i; j < n; j++) {
                        let b = x + 1;

                        for (let a = x; a < j; a++) {
                            let combs = table[x][a].flatMap(d => table[b][j].flatMap(v => d + v));

                            // Check all combinations
                            combs.forEach(comb => {
                                for (let gKey in this.grammar) {
                                    this.grammar[gKey].forEach(gValue => {
                                        if (gValue === comb && !table[x][j].includes(gKey)) {
                                            table[x][j].push(gKey)
                                        }
                                    })
                                }
                            })

                            b++;
                        }

                        x++;
                    }

                }

                this.table = table;
                this.done = true;
            },
        },
    }).mount("#app");
</script>
</body>
</html>
